<div class="jumbotron text-center">
  <h1>Contact Us</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p><i class="fa fa-commenting" style="color:#00008b;"></i>  Let's talk.  Our library of high quality health research articles will empower your research.</p>

      <form action="/contact" method="POST">
        
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Your Message</label>
          <input type="text" name="message" class="form-control">
        </div>
        
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-paper-plane-o"></i> Send</button>
        </div>

      </form>
    </div>
  </div>
</div>