<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HSE - Health Systems Evidence</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato|Mukta+Malar" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/ico" href="/img/favicon.ico"> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>  
  <script src="js/validate.js"></script> 
  <style>
    .help-block.error {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <a href="/" class="navbar-brand">HSE</a>
      <ul class="nav navbar-nav">
        <!--  <li><a href="/">Home</a></li> -->
        <li><a href="/about">About</a></li>
		<li><a href="/search">Guided Search</a></li>
        <li><a href="/contact">Contact</a></li>
		<li><a href="/signin">Log On/Off</a></li>
      </ul>
    </nav>
  </header>


  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>

  
  
  <footer>
	<h5> <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="/signin">Sign In</a> | <a href="/signup">Sign Up</a> | <a href="/signupx"><strong>Sign Up X</strong></a> </h5>
	<p>Copyright &copy; 2018 - <strong>Health Systems Evidence</strong> </p>
  </footer>
  
  <script src="js/validate_form.js"></script>
  <script>
  </script>
</body>
</html>