<div class="jumbotron text-center">
  <h1>Guided Search</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p>The world's most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.</p>  

    </div>
  </div>
</div>