<div class="jumbotron text-center">
  <h2>HSE - Health Systems Evidence</h2>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
	<!-- <div class="col-sm-6 col-sm-offset-3"> -->
      <h1>Sign In</h1>
      <p>The world's most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.</p>  


    <!------------------------------->
        <div class="panel panel-default">
          <div class="panel-body">
			<form id="signin" name="signin" method="post" action="signin">
              <div class="form-group">
                <label for="email" class="sr-only">Email Address</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				  <input type="email" class="form-control" id="email" name="email" type="text" placeholder="Enter your email please." />
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <br>
				<a href="#" class="pull-right small">Forgot Password?</a>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Stay signed in
                </label>
              </div>
              
    		  <!-- <input  class="btn btn-lg btn-primary" type="submit" value="Sign In" />  -->
			  <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-paper-plane-o" style="width:30px;color:white;"></i> Submit </button>
			  
    		  <a href="/logout" class="btn btn-warning"><i class="fa fa-sign-out"></i> Logout</a>  
			  <a href="/signup" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign Up</a>  

            </form>
          </div>
        </div>
    <!------------------------------->


    </div>
  </div>
</div>

