<div class="jumbotron text-center">
  <h2>HSE - Health Systems Evidence</h2>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
	<!-- <div class="col-sm-6 col-sm-offset-3">  -->
      <h1>SignUp</h1>
      <p>The world's most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.</p>  
	  
	  
    <!------------------------------->
        <div class="panel panel-default">
          <div class="panel-body">
			<form id="signup" name="signup" method="post" action="/signup" >
              <div class="form-group">
                <label for="email" class="sr-only">Email Address</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				  <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email please." />
                </div>
				<div class="col-sm-5 messages"></div>
              </div>
			  
              <div class="form-group">
                <label for="firstname" class="sr-only">First Name</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
				  <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Your First Name" />
                </div>
				<div class="col-sm-5 messages"></div>
              </div>
              <div class="form-group">
                <label for="lastname" class="sr-only">Last Name</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
				  <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Your Last Name" />
                </div>
				<div class="col-sm-5 messages"></div>
              </div>
			  
			  
              <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
				<div class="col-sm-5 messages"></div>
              </div>
			  
              <div class="form-group">
                <label for="password" class="sr-only">Confirm Password</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                  <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                </div>
				<div class="col-sm-5 messages"></div>
                <br>
              </div>
			  

              
    		  <!-- <input  class="btn btn-lg btn-success" type="submit" value="Sign Up" />  -->
			  <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-paper-plane-o" style="width:30px;color:white;"></i> Submit </button>  
			  
    		  <a href="/signin" class="btn btn-info"><i class="fa fa-sign-in"></i> Sign In</a>  

            </form>
          </div>
        </div>
    <!------------------------------->

	  
	  
	  
	  
    <!--  
    <form id="signup" name="signup" method="post" action="/signup">
      <label for="email">Email Address</label>
      <input class="text" name="email" type="email" /><br>
      <label for="firstname">Firstname</label>
      <input name="firstname" type="text" /><br>
      <label for="lastname">Lastname</label>
      <input name="lastname" type="text" /><br>
      <label for="password">Password</label>
      <input name="password" type="password" /><br><br>

      <input class="btn btn-lg btn-success" type="submit" value="Sign Up" />  
    </form>
	-->


      

    </div>
  </div>
</div>