<div class="jumbotron text-center">
  <h1>Services</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Sign In</h2>
      <p>The world's most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.</p>  
      
    <form id="signin" name="signin" method="post" action="signin">
      <label for="email">Email Address</label>
      <input class="text" name="email" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <input class="btn" type="submit" value="Sign In" />
    </form>

    </div>
  </div>
</div>