<div class="jumbotron text-center">
  <h1>Palindromes!</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p>A palindrome is a word, number, or other sequence of characters which reads the same backward as forward, such as madam or racecar. Sentence-length palindromes may be written when allowances are made for adjustments to capital letters, punctuation, and word dividers, such as "<span class='quotesource'>A man, a plan, a canal, Panama!</span>", "<span class='quotesource'>Was it a car or a cat I saw?</span>"  or  "<span class='quotesource'>No 'x' in Nixon</span>".
      </p> <br><br>
      <ol>
        <li>Able was I ere I saw Elba</li>
        <li>Madam, I'm Adam</li>
        <li>Was it a car or a cat I saw?</li>
        <li>Never odd or even</li>
        <li>A man, a plan, a canal ~ Panama</li>
      </ol>

    </div>
  </div>
</div>