<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h1>HEALTH SYSTEMS EVIDENCE</h1>

    <a href="#"       class="btn btn-lg btn-primary"><i class="fa fa-info"></i> Summary </a>
    <a href="/logout" class="btn btn-lg btn-warning"><i class="fa fa-sign-out"></i> Logout</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">

  <h2>HSE Dashboard</h2>
  <h5>You are logged in.</h5>
  <p><i>Quality drives our research</i></p>
  <p>The world's most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.</p>
</div>



