<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HSE - Health Systems Evidence</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato|Mukta+Malar" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/ico" href="img/favicon.ico"> 
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <a href="/" class="navbar-brand">HSE</a>
      <ul class="nav navbar-nav">
        <!--  <li><a href="/">Home</a></li> -->
        <li><a href="/about">About</a></li>
		<li><a href="/services">Guided Search</a></li>
        <li><a href="/contact">Contact</a></li>
		<li><a href="/signin">Log In</a></li>
      </ul>
    </nav>
  </header>


  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>

  <footer>
	<p>Copyright &copy; 2018 - <strong>Health Systems Evidence</strong> </p>
  </footer>
</body>
</html>