<div class="jumbotron text-center">
  <h1>Yogi Berra Quotes</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p>The best quotes from Yogi Berra</p>  
      <ol>
        <li>When you arrive at a fork in the road, take it.</li>
        <li>You better cut the pizza in four pieces because I'm not hungry enough to eat six.</li>
        <li>Love is the most important thing in the world, but baseball is pretty good, too.</li>
        <li>If you don't know where you are going, you might wind up someplace else.</li>
        <li>It ain't the heat, it's the humility.</li>
        <li>I wish I had an answer to that because I'm tired of answering that question.</li>
        <li>Little League baseball is a very good thing because it keeps the parents off the streets.</li>
        <li>You can observe a lot by watching.</li>
        <li>It was impossible to get a conversation going, everybody was talking too much.</li>
        <li>Congratulations. I knew the record would stand until it was broken.</li>
      </ol>

    </div>
  </div>
</div>